*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/dioula/res/raw/
/app/src/nuni/res/raw/
/app/src/moore/res/raw/
/app/src/nongsaaya_moore/res/raw/
/app/src/nongsaaya_lyele/res/raw/